<nav>
  <ul>
    <li><input type="text" placeholder="Search">
    <li><%= link_to "Movies",  '#' %></li> 
    <li><%= link_to "Lists",        '#' %></li>
    <li><%= link_to "Groups",       '#' %> </li>
    <!--<li><%= link_to "Users",        users_path %></li> -->
  </ul>
</nav>